<% include ../partials/header %>
<br>
<div class="ui piled segment">

  <h1 > <%= user.firstName %> <%= user.surname %>'s informations </h1>
  <a href="/users" class="ui red button fluid">Show all users</a>




  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Friends</a>
    <a class="item" data-tab="second">Friends of Friends</a>
    <a class="item" data-tab="third">Suggested friends</a>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="first">
    <h2 class="ui center aligned icon header">
      <i class="circular users icon"></i>
      Friends
    </h2>
    <div class="ui  container">
    <div class="ui stackable four column grid">
    <% friends.forEach((friend)=>{ %>
        <div class=" column">
          <div class="ui card">
            <div class="image">
              <img src="/images/<%= friend.gender %>.gif">
            </div>
              <div class="content">
                <a class="header" href="<%=friend.id %>"><%= friend.firstName %> <%= friend.surname %> </a>
                <div class="meta">
                  <span class="date">Age: <%= friend.age %></span>
                </div>
                <div class="description">
                  Gender: <%= friend.gender %>
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  Friends: <%= friend.friends.length %>
                </a>
            </div>
          </div>
        </div>

    <% }) %>
    </div>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">

    <h2 class="ui center aligned icon header">
      <i class="circular small users icon"></i>
      Friends of Friends
    </h2>
    <div class="ui  container">
    <div class="ui stackable four column grid">
    <% friendsOfFrends.forEach((fof)=>{ %>
        <div class=" column">
          <div class="ui card">
            <div class="image">
              <img src="/images/<%= fof.gender %>.gif">
            </div>
              <div class="content">
                <a class="header" href="<%=fof.id %>"><%= fof.firstName %> <%= fof.surname %> </a>
                <div class="meta">
                  <span class="date">Age: <%= fof.age %></span>
                </div>
                <div class="description">
                  Gender: <%= fof.gender %>
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  Friends: <%= fof.friends.length %>
                </a>
            </div>
          </div>
        </div>

    <% }) %>
    </div>
    </div>

  </div>
  <div class="ui bottom attached tab segment" data-tab="third">

    <h2 class="ui center aligned icon header">
      <i class="circular small users icon"></i>
      Suggested friends
    </h2>
    <div class="ui  container">
    <div class="ui stackable four column grid">
    <% sugested.forEach((sf)=>{ %>
        <div class=" column">
          <div class="ui card">
            <div class="image">
              <img src="/images/<%= sf.gender %>.gif">
            </div>
              <div class="content">
                <a class="header" href="<%=sf.id %>"><%= sf.firstName %> <%= sf.surname %> </a>
                <div class="meta">
                  <span class="date">Age: <%= sf.age %></span>
                </div>
                <div class="description">
                  Gender: <%= sf.gender %>
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  Friends: <%= sf.friends.length %>
                </a>
            </div>
          </div>
        </div>
<% }) %>
</div>
</div>



</div>







<% include ../partials/footer %>
